@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  font-family: "Work Sans", sans-serif !important;
}

.overview,
.contact,
.about,
.card,
nav {
  font-family: "Poppins", sans-serif !important;
}

.about h1,
.skills,
.projects,
.contact-title,
.footer {
  font-family: "Lato", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

.swiper-button-next {
  margin-left: 50px !important;
}
.swiper-button-prev {
  margin-right: 50px !important;
}

/* hide swiper buttons on small screens */

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* animate the image with animated__image class, such that it zooms in and out repeatedly */

.animated__image {
  width: 100%;
  height: auto;
  animation: zoomInOut 3s infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
