@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  font-family: "Poppins", sans-serif !important;
}

.home{
font-family: 'Work Sans', sans-serif !important
}
/* font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */
